<section>
	<div class="m-container">
		<div class="row mt24 ph12">
			<div class="col-6 col-sm-12 mb12 ph12">
				<h2>Contact Us</h2>
				<div class="row bg-secondary p24">
					<p class="font18 mb16" style="font-weight: bold;">Call our hotline to place an order or talk to our customer service team:</p>
					<div v-if="MainStore.contact.phone" class="row mb6">
						<a :href="'tel:'+MainStore.contact.phone">
							<img :src="require('~/assets/images/icons/telephone.png')" class="h16" />
							<small class="txt-dark-light">{{MainStore.contact.phone}}</small>
						</a>
					</div>
					<div v-if="MainStore.contact.email" class="row mb6">
						<a :href="'mailto:'+MainStore.contact.email">
							<img :src="require('~/assets/images/icons/envelope.png')" class="h16" />
							<small class="txt-dark-light">{{MainStore.contact.email}}</small>
						</a>
					</div>
	
					<p class="font18 mt24" style="font-weight: bold;">Follow us on</p>
					<a v-if="MainStore.contact.telegram" :href="MainStore.contact.telegram" target="_blank" class="row mb6">
						<img :src="require('~/assets/images/icons/telegram.png')" height="14px" />
						<small class="txt-dark-light">Telegram</small>
					</a>
					<a v-if="MainStore.contact.youTube" :href="MainStore.contact.youTube" target="_blank" class="row mb6">
						<i class="fa fa-youtube txt-dark"></i>
						<small class="txt-dark-light">YouTube</small>
					</a>
					<a v-if="MainStore.contact.facebook" :href="MainStore.contact.facebook" target="_blank" class="row mb6">
						<i class="fa fa-facebook txt-dark"></i>
						<small class="txt-dark-light">Facebook</small>
					</a>
					<a v-if="MainStore.contact.instagram" :href="MainStore.contact.instagram" target="_blank" class="row mb6">
						<i class="fa fa-instagram txt-dark"></i>
						<small class="txt-dark-light">Instagram</small>
					</a>
				</div>
			</div>
			<div class="col-6 col-sm-12 ph12">
				<h2 class="ph12">Have Question?</h2>
				<p class="ph12">Prefer to send us a message? We’ll get right back to you</p>
				<div class="col-12 mt16">
					<div class="col-6 col-sm-12 mb16 ph12">
						<input v-model="body.name" type="text" placeholder="Your name" class="w-input" />
					</div>
					<div class="col-6 col-sm-12 mb16 ph12">
						<input v-model="body.email" type="text" placeholder="Your email" class="w-input" />
					</div>
				</div>
				<div class="row mb16 ph12">
					<input v-model="body.phone" type="text" placeholder="Your phone" class="w-input" />
				</div>
				<div class="row mb16 ph12">
					<textarea v-model="body.message" class="w-input" rows="5" placeholder="Write your message"></textarea>
				</div>
	
				<div class="row mb16 ph12">
					<button v-if="!isCreating" @click="askQuestion" class="row btn btn-default ph100">Submit</button>
					<button v-else class="row btn btn-default ph100">Loading...</button>
				</div>
			</div>
		</div>
		<div class="row ph24 txt-center mv24">
			<iframe class="m-yt" src="https://www.youtube.com/embed/L4pqKCBQdoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>