<section>
	<div class="m-container">
		<div class="row p12">
			<p class="cart-title ph12">SHOPPING CART</p>
			<div v-if="!isUserInfo" class="col-12">
				<div class="col-8 col-sm-12 mb12">
					<div class="row sm-hidden ph12">
						<table style="width: 100%;border: 1px solid #ddd;">
							<thead>
								<th>Thumbnail</th>
								<th>Product</th>
								<th>Price($)</th>
								<th>Discount(%)</th>
								<th>Quantity</th>
								<th>Subtotal</th>
							</thead>
							<thead>
								<tr v-for="(product,productIndex) in data.products" :key="(product,productIndex)" class="border">
									<td>
										<img :src="getFullPath(product.thumbnail)"
										style="width: 72px;height:72px;object-fit: cover;" />
									</td>
									<td>
										<p class="txt-primary mb6">{{product.name}}</p>
										<span>Variant :</span> <span class="txt-dark-light">{{product.variant}}</span>
									</td>
									<td>{{formatPrice(product.price)}}</td>
									<td class="txt-center">{{product.discount}}%</td>
									<td>
										<div style="width: 120px;padding: 0 32px;border:1px solid #ddd;position: relative;">
											<i @click="increaseQty(productIndex)" class="fa fa-plus" style="position: absolute;top:50%;left:10px;transform: translateY(-50%);cursor: pointer;"></i>
											<i @click="decreaseQty(productIndex)" class="fa fa-minus" style="position: absolute;top:50%;right:10px;transform: translateY(-50%);cursor: pointer;"></i>
											<input v-model="product.qty" type="text" value="1" disabled="true" style="width: 100%;height: 36px;font-size: 16px;border: none;text-align: center;outline: none;" />
										</div>
									</td>
									<td>{{getSubtotal(product.price, product.discount, product.qty)}}</td>
									<td @click="removeProductFromCart(productIndex)"><i class="fa fa-times-circle pointer"></i></td>
								</tr>
							</thead>
						</table>
						<div v-if="data.products && data.products.length == 0" class="row pv50 txt-center">
							<img :src="require('~/assets/images/icons/no-cart.png')" class="h72" />
							<p class="font18 mt12">Empty cart</p>
						</div>
					</div>
					<div class="row sm-show ph12">
						<div v-for="(product,productIndex) in data.products" :key="(product,productIndex)" class="row p6 border mt-1" style="padding-left: 72px;padding-right: 50px;">
							<img :src="getFullPath(product.thumbnail)"style="width: 60px;height:60px;object-fit: cover;position:absolute;top:8px;left:6px;" />
							<p class="txt-primary font14 mb3">{{product.name}}</p>
							<p class="font13 mb3"><span>Variant</span> : <span class="capitalize txt-dark-light">{{product.variant}}</span></p>
							<p class="font13 mb3">
								<span>Price</span> : <span class="capitalize txt-dark-light">{{formatPrice(product.price)}}</span>
								<span class="ml12">Discount</span> : <span class="capitalize txt-dark-light">{{product.discount}}%</span>
							</p>
							<div class="font13 mb3">
								<span class="go-left mt3 mr12">Quantity</span>
								<div style="width: 110px;padding: 0 32px;border:1px solid #ddd;position: relative;float: left;">
									<i @click="increaseQty(productIndex)" class="fa fa-plus" style="position: absolute;top:50%;left:10px;transform: translateY(-50%);cursor: pointer;"></i>
									<i @click="decreaseQty(productIndex)" class="fa fa-minus" style="position: absolute;top:50%;right:10px;transform: translateY(-50%);cursor: pointer;"></i>
									<input v-model="product.qty" type="text" value="1" disabled="true" style="width: 100%;height: 24px;font-size: 16px;border: none;text-align: center;outline: none;" />
								</div>
							</div>
							<div @click="removeProductFromCart(productIndex)" style="width: 50px;height: 100%;position: absolute;top:0;right:0">
								<i class="fa fa-times-circle pointer" style="position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4 col-sm-12 ph12">
					<div class="row" style="background: #ddd;padding: 14px;">
						<span>CART TOTALS</span>
					</div>
					<table style="background: #f2f2f2;">
						<tbody>
							<tr hidden>
								<td width="30%">Subtotal</td>
								<td>$700.00</td>
							</tr>
							<tr v-if="MainStore.token && data.products && data.products.length > 0">
								<td style="vertical-align: top;">Shipping</td>
								<td>
									<p class="txt-dark-light">Shipping to : <span @click="displayCreateDialog" class="font14 txt-danger go-right pointer">Create address</span></p>
									<select v-if="data.addresses.length > 0" v-model="body.customerAddressId" class="w-input">
										<option v-for="(address,addressIndex) in data.addresses" 
											:key="(address,addressIndex)"
											:value="address.id">
											{{address.address}}
										</option>
									</select>
									<!-- <p v-if="data.addresses.length > 0" class="txt-dark-light">Shipping to : <span class="txt-dark">{{data.addresses[body.addressIndex].address}}</span></p>
									<p class="txt-danger txt-right pointer mv6">Change address <i class="fa fa-angle-down"></i></p>
									<div class="btn-default go-right pv6 ph24 mt12">UPDATE</div> -->
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row pv6 mt12 border-bottom" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Total</span>
						<span class="font16 txt-right go-right">{{sumSubtotal()}}</span>
					</div>
					<div class="row pv6 border-bottom" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Total Discount</span>
						<span class="font16 txt-right go-right">- {{sumDiscount()}}</span>
					</div>
					<div class="row pv6 mb12 border-bottom" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Grand Total</span>
						<span class="font16 txt-right go-right">{{getGrandTotal()}}</span>
					</div>
					<div class="row pv12">
						<p class="font18">Payment Method</p>
						<div class="row">
							<div @click="body.paymentMethod = 'CASH_ON_DELIVERY'" class="item-filter border p12" style="margin-bottom: 0;">
								<div :class="body.paymentMethod == 'CASH_ON_DELIVERY' ? 'item-radio-active' : 'item-radio'">
									<i class="fa fa-check item-ic"></i>
								</div>
								<span>Pay by Cash on Delivery</span>
							</div>
							<div @click="body.paymentMethod = 'ABA_PAY'" class="item-filter border p12" style="margin-bottom: 0;margin-top: -1px;">
								<div :class="body.paymentMethod == 'ABA_PAY' ? 'item-radio-active' : 'item-radio'">
									<i class="fa fa-check item-ic"></i>
								</div>
								<span>Pay by ABA on Delivery</span>
							</div>
						</div>
						<div class="row pv12">
							<p class="font14 txt-dark-light">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <span class="txt-danger pointer">privacy policy</span>.</p>
							<div class="row">
								<label for="term-condition-checkbox" class="font14 txt-dark-light mb0"><input id="term-condition-checkbox" type="checkbox"> I have read and agree to the website <span class="txt-danger">terms and conditions *</span></label>
							</div>
						</div>
					</div>
		
					<div v-if="!isCreating" class="row">
						<div v-if="MainStore.token" class="row">
							<div v-if="data.products && data.products.length > 0" @click="createOrder" class="btn-checkout">PROCEED TO CHECKOUT</div>
							<nuxt-link to="/search" v-else>
								<div class="btn-checkout">SHOPPING NOW</div>
							</nuxt-link>
						</div>
						<div v-else class="row">
							<div v-if="data.products && data.products.length > 0" @click="isUserInfo = true"class="btn-checkout">PROCEED TO CHECKOUT</div>
							<nuxt-link to="/search" v-else>
								<div class="btn-checkout">SHOPPING NOW</div>
							</nuxt-link>
						</div>
					</div>
					<div v-if="isCreating" class="row">
						<div class="btn-checkout">LOADING...</div>
					</div>
				</div>
			</div>

			<!-- User logged in -->
			<div v-if="isUserInfo" class="col-12">
				<div class="col-7 col-sm-12 mb12 ph12">
					<div class="row bg-secondary p24">
						<p class="font20" style="font-weight: bold;">Address Info</p>
						<div class="row">
							<p class="txt-dark-light mt6">Country <span class="txt-danger">*</span></p>
							<select v-if="data.countries.length > 0" v-model="userAddress.provinceId" :class="isSubmitted && !userAddress.countryId ? 'w-input-error' : 'w-input'">
								<option v-for="(country,countryIndex) in data.countries" 
									:key="(country,countryIndex)"
									:value="country.id">
									{{country.name}}
								</option>
							</select>
							<p v-if="isSubmitted && !userAddress.countryId" class="msg-error">Country is required.</p>
						</div>
						<div class="row">
							<p class="txt-dark-light mt24">City/Province <span class="txt-danger">*</span></p>
							<select v-if="data.provinces.length > 0" v-model="userAddress.provinceId" :class="isSubmitted && !userAddress.provinceId ? 'w-input-error' : 'w-input'">
								<option v-for="(province,provinceIndex) in data.provinces" 
									:key="(province,provinceIndex)"
									:value="province.id">
									{{province.province}}
								</option>
							</select>
							<p v-if="isSubmitted && !userAddress.provinceId" class="msg-error">Province is required.</p>
						</div>
						<div class="row">
							<p class="txt-dark-light mt12">Address <span class="txt-danger">*</span></p>
							<input v-model="userAddress.address" type="text" :class="isSubmitted && !userAddress.address ? 'w-input-error' : 'w-input'" />
							<p v-if="isSubmitted && !userAddress.address" class="msg-error">Address is required.</p>
						</div>
						<hr class="mv24"/>
						<div class="row">
							<div class="col-6 pr6">
								<p class="txt-dark-light">First Name <span class="txt-danger">*</span></p>
								<input v-model="userInfo.firstName" type="text" placeholder="First name" :class="isSubmitted && !userInfo.firstName ? 'w-input-error' : 'w-input'" />
								<p v-if="isSubmitted && !userInfo.firstName" class="msg-error">First name is required.</p>
							</div>
							<div class="col-6 pl6">
								<p class="txt-dark-light">Last Name <span class="txt-danger">*</span></p>
								<input v-model="userInfo.lastName" type="text" placeholder="Last name" :class="isSubmitted && !userInfo.lastName ? 'w-input-error' : 'w-input'" />
								<p v-if="isSubmitted && !userInfo.lastName" class="msg-error">Last name is required.</p>
							</div>
						</div>
						<div class="row">
							<p class="txt-dark-light mt12">Phone <span class="txt-danger">*</span></p>
							<input v-model="userInfo.phone" type="text" placeholder="Phone" :class="isSubmitted && !userInfo.phone ? 'w-input-error' : 'w-input'" />
							<p v-if="isSubmitted && !userInfo.phone" class="msg-error">Phone is required.</p>
						</div>
						<div class="row">
							<p class="txt-dark-light mt24">Email <span class="txt-danger">*</span></p>
							<input v-model="userInfo.email" type="text" placeholder="Your email" :class="isSubmitted && !userInfo.email ? 'w-input-error' : 'w-input'" />
							<p v-if="isSubmitted && !userInfo.email" class="msg-error">Email is required.</p>
						</div>
						<div class="row">
							<p class="txt-dark-light mt24">Password <span class="txt-danger">*</span></p>
							<input v-model="userInfo.password" type="password" placeholder="Password" :class="isSubmitted && !userInfo.password ? 'w-input-error' : 'w-input'" />
							<p v-if="isSubmitted && !userInfo.password" class="msg-error">Password is required.</p>
						</div>
					</div>
				</div>
				<div class="col-5 col-sm-12 ph12">
					<div class="row mb12">
						<span class="font20">YOUR ORDER</span>
					</div>
					<table class="border">
						<thead>
							<th colspan="2">Product</th>
							<th class="w100 txt-right">Subtotal</th>
						</thead>
						<tbody>
							<tr v-for="(product,productIndex) in data.products" :key="(product,productIndex)" class="border">
								<td>
									<img :src="getFullPath(product.thumbnail)" style="width: 42px;height:42px;object-fit: cover;" />
								</td>
								<td>
									<p class="mb3 font14">{{product.name}}</p>
									<span class="font12">Variant :</span> <span class="font12 txt-dark-light">{{product.variant}}</span>
									<div class="row">
										<small class="font12 txt-dark-light">Price : {{formatPrice(product.price)}}</small>
										<small class="font12 txt-dark-light">| Quantity : {{product.qty}}</small>
										<small class="font12 txt-dark-light">| Discount : {{product.discount}}%</small>
									</div>
								</td>
								<td class="txt-right"><span class="font14">{{getSubtotal(product.price, product.discount, product.qty)}}</span></td>
							</tr>
						</tbody>
					</table>
					<div class="row mt12 pv6" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Total</span>
						<span class="font16 txt-right go-right">{{sumSubtotal()}}</span>
					</div>
					<div class="row pv6" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Total Discount</span>
						<span class="font16 txt-right go-right">- {{sumDiscount()}}</span>
					</div>
					<div class="row pv6" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Grand Total</span>
						<span class="font16 txt-right go-right">{{getGrandTotal()}}</span>
					</div>
		
					<div class="row pv12 border-top">
						<p class="font18">Payment Method</p>
						<div class="row">
							<div @click="body.paymentMethod = 'CASH_ON_DELIVERY'" class="item-filter border p12" style="margin-bottom: 0;">
								<div :class="body.paymentMethod == 'CASH_ON_DELIVERY' ? 'item-radio-active' : 'item-radio'">
									<i class="fa fa-check item-ic"></i>
								</div>
								<span>Pay by Cash on Delivery</span>
							</div>
							<div @click="body.paymentMethod = 'ABA_PAY'" class="item-filter border p12" style="margin-bottom: 0;margin-top: -1px;">
								<div :class="body.paymentMethod == 'ABA_PAY' ? 'item-radio-active' : 'item-radio'">
									<i class="fa fa-check item-ic"></i>
								</div>
								<span>Pay by ABA on Delivery</span>
							</div>
						</div>
						<div class="row pv12">
							<p class="font14 txt-dark-light">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <span class="txt-danger pointer">privacy policy</span>.</p>
							<div class="row">
								<label for="term-condition-checkbox" class="font14 txt-dark-light mb0"><input type="checkbox" id="term-condition-checkbox"> I have read and agree to the website<span class="txt-danger">terms and conditions *</span></label>
							</div>
						</div>
					</div>

					<div v-if="!isCreating" class="row mt12">
						<div @click="createOrderWithLogin" class="btn-checkout">PROCEED TO CHECKOUT</div>
					</div>
					<div v-if="isCreating" class="row p16">
						<div class="btn-checkout">LOADING...</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div v-if="showCreateDialog" class="auth-container">
		<div @click="showCreateDialog = false" class="auth-bg"></div>
		<div class="block-auth">
			<div class="row ph12">
				<span class="font24">Create Address</span>
			</div>
			<div class="row mv24">
				<div class="row mb6">
					<div class="col-6 ph12">
						<p class="mb6">First name <span class="txt-danger">*</span></p>
						<input v-model="address.firstname" type="text" :class="isSubmittedAddress && !address.firstname ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmittedAddress && !address.firstname" class="msg-error">First name is required.</p>
					</div>
					<div class="col-6 ph12">
						<p class="mb6">Last name <span class="txt-danger">*</span></p>
						<input v-model="address.lastname" type="text" :class="isSubmittedAddress && !address.lastname ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmittedAddress && !address.lastname" class="msg-error">Last name is required.</p>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Phone <span class="txt-danger">*</span></p>
						<input v-model="address.phone" type="text" :class="isSubmittedAddress && !address.phone ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmittedAddress && !address.phone" class="msg-error">Phone is required.</p>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Email <span class="txt-danger">*</span></p>
						<input v-model="address.email" type="text" :class="isSubmittedAddress && !address.email ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmittedAddress && !address.email" class="msg-error">Email is required.</p>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Country <span class="txt-danger">*</span></p>
						<select v-model="address.countryId" class="w-input">
							<option v-for="(country, countryIndex) in data.countries" 
								:key="(country, countryIndex)"
								:value="country.id">{{country.name}}</option>
						</select>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">City/Province <span class="txt-danger">*</span></p>
						<select v-model="address.provinceId" class="w-input">
							<option v-for="(province, provinceIndex) in data.provinces" 
								:key="(province, provinceIndex)"
								:value="province.id">{{province.province}}</option>
						</select>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Address <span class="txt-danger">*</span></p>
						<input v-model="address.address" type="text" :class="isSubmittedAddress && !address.address ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmittedAddress && !address.address" class="msg-error">Address is required.</p>
					</div>
				</div>
				<div class="col-12 ph12">
					<div v-if="!isCreating" @click="createAddress" class="btn-default mt24">SUBMIT</div>
					<div v-else class="btn-default mt24">LOADING...</div>
				</div>
			</div>
		</div>
	</div>
</section>