<section>
	<div class="m-container">
		<div class="row p50">
			<p class="font30">SHOPPING CART</p>
			<div v-if="!isUserInfo" class="col-12">
				<div class="col-8">
					<div class="row">
						<table style="width: 100%;border: 1px solid #ddd;">
							<thead>
								<th>Thumbnail</th>
								<th>Product</th>
								<th>Price($)</th>
								<th>Discount(%)</th>
								<th>Quantity</th>
								<th>Subtotal</th>
							</thead>
							<thead>
								<tr v-for="(product,productIndex) in data.products" :key="(product,productIndex)" class="border">
									<td>
										<img :src="getFullPath(product.thumbnail)"
										style="width: 72px;height:72px;object-fit: cover;" />
									</td>
									<td>
										<p class="txt-primary mb6">{{product.name}}</p>
										<span>Variant :</span> <span class="txt-dark-light">{{product.variant}}</span>
									</td>
									<td>{{formatPrice(product.price)}}</td>
									<td class="txt-center">{{product.discount}}</td>
									<td>
										<div style="width: 120px;padding: 0 32px;border:1px solid #ddd;position: relative;">
											<i @click="increaseQty(productIndex)" class="fa fa-plus" style="position: absolute;top:50%;left:10px;transform: translateY(-50%);cursor: pointer;"></i>
											<i @click="decreaseQty(productIndex)" class="fa fa-minus" style="position: absolute;top:50%;right:10px;transform: translateY(-50%);cursor: pointer;"></i>
											<input v-model="product.qty" type="text" value="1" disabled="true" style="width: 100%;height: 36px;font-size: 16px;border: none;text-align: center;outline: none;" />
										</div>
									</td>
									<td>{{getSubtotal(product.price, product.discount, product.qty)}}</td>
									<td @click="removeProductFromCart(productIndex)"><i class="fa fa-times-circle pointer"></i></td>
								</tr>
							</thead>
						</table>
						<div v-if="data.products && data.products.length == 0" class="row pv50 txt-center">
							No Data
						</div>
					</div>
				</div>
				<div class="col-4 pl50">
					<div class="row" style="background: #ddd;padding: 14px;">
						<span>CART TOTALS</span>
					</div>
					<table style="background: #f2f2f2;">
						<tbody>
							<tr hidden>
								<td width="30%">Subtotal</td>
								<td>$700.00</td>
							</tr>
							<tr>
								<td>Shipping </td>
								<td>
									<p class="txt-dark-light">Shipping to</p>
									<select v-if="data.addresses.length > 0" v-model="body.customerAddressId" class="input">
										<option v-for="(address,addressIndex) in data.addresses" 
											:key="(address,addressIndex)"
											:value="address.id">
											{{address.address}}
										</option>
									</select>
								</td>
							</tr>
							<tr v-if="data.products && data.products.length > 0">
								<td>Total</td>
								<td class="font24">{{formatPrice(getTotalPrice())}}</td>
							</tr>
						</tbody>
					</table>
		
					<div v-if="!isCreateing" class="row p16" style="background: #f2f2f2;border-top: 1px solid #ddd;">
						<div v-if="MainStore.token" class="row">
							<div v-if="data.products && data.products.length > 0" @click="createOrder" class="btn-checkout">PROCEED TO CHECKOUT</div>
							<div v-else class="btn-checkout btn-disabled">PROCEED TO CHECKOUT</div>
						</div>
						<div v-else @click="isUserInfo = true" class="btn-checkout">PROCEED TO CHECKOUT</div>
					</div>
					<div v-if="isCreateing" class="row p16" style="background: #f2f2f2;border-top: 1px solid #ddd;">
						<div class="btn-checkout">LOADING...</div>
					</div>
				</div>
			</div>

			<div v-if="isUserInfo" class="col-12">
				<div class="col-7">
					<div class="row bg-secondary p24">
						<p class="font20" style="font-weight: bold;">Address Info</p>
						<p class="txt-dark-light mt12">Address <span class="txt-danger">*</span></p>
						<input v-model="userAddress.address" type="text" class="w-input" />
						<p class="txt-dark-light mt24">City/Province</p>
						<select v-if="data.provinces.length > 0" v-model="userAddress.provinceId" class="input">
							<option v-for="(province,provinceIndex) in data.provinces" 
								:key="(province,provinceIndex)"
								:value="province.id">
								{{province.province}}
							</option>
						</select>
						<hr class="mv24"/>
						<div class="row">
							<div class="col-6 pr6">
								<p class="txt-dark-light">First Name <span class="txt-danger">*</span></p>
								<input v-model="userInfo.firstName" type="text" placeholder="First name" class="w-input" />
							</div>
							<div class="col-6 pl6">
								<p class="txt-dark-light">Last Name <span class="txt-danger">*</span></p>
								<input v-model="userInfo.lastName" type="text" placeholder="Last name" class="w-input" />
							</div>
						</div>
						<p class="txt-dark-light mt12">Phone <span class="txt-danger">*</span></p>
						<input v-model="userInfo.phone" type="text" placeholder="Phone" class="w-input" />
						<p class="txt-dark-light mt24">Email</p>
						<input v-model="userInfo.email" type="text" placeholder="Your email" class="w-input" />
						<p class="txt-dark-light mt24">Password <span class="txt-danger">*</span></p>
						<input v-model="userInfo.password" type="password" placeholder="Password" class="w-input" />
					</div>
				</div>
				<div class="col-5 pl50">
					<div class="row mb12">
						<span class="font20">YOUR ORDER</span>
					</div>
					<table class="border">
						<thead>
							<th colspan="2">Product</th>
							<th class="w100 txt-right">Subtotal</th>
						</thead>
						<tbody>
							<tr v-for="(product,productIndex) in data.products" :key="(product,productIndex)" class="border">
								<td>
									<img :src="getFullPath(product.thumbnail)" style="width: 42px;height:42px;object-fit: cover;" />
								</td>
								<td>
									<p class="mb3 font14">{{product.name}}</p>
									<span class="font12">Variant :</span> <span class="font12 txt-dark-light">{{product.variant}}</span>
									<small class="font12 txt-dark-light">| Quantity : {{product.qty}}</small>
									<small class="font12 txt-dark-light">| Discount : {{product.discount}}%</small>
								</td>
								<td class="txt-right"><span class="font14">{{getSubtotal(product.price, product.discount, product.qty)}}</span></td>
							</tr>
						</tbody>
					</table>
					<div class="row mt12 pv6" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Total</span>
						<span class="font16 txt-right go-right">{{sumSubtotal()}}</span>
					</div>
					<div class="row pv6" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Total Discount</span>
						<span class="font16 txt-right go-right">- {{sumDiscount()}}</span>
					</div>
					<div class="row pv6" v-if="data.products && data.products.length > 0">
						<span class="font16 go-left">Grand Total</span>
						<span class="font16 txt-right go-right">{{getGrandTotal()}}</span>
					</div>
		
					<div v-if="!isCreateing" class="row mt12">
						<div @click="createOrderWithLogin" class="btn-checkout">PROCEED TO CHECKOUT</div>
					</div>
					<div v-if="isCreateing" class="row p16" style="background: #f2f2f2;border-top: 1px solid #ddd;">
						<div class="btn-checkout">LOADING...</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>