<section class="row mt24">
	<div style="width: 100%;background: #882423;display: inline-block;position: relative;">
		<div class="m-container" style="padding: 42px 12px;display: flex;">
			<div class="col-3 txt-center ph24">
				<div class="w75 h75" style="width: 100px;height: 100px;margin:0 auto;position: relative;border-radius: 50%;border: 1px solid #fff;">
					<img :src="require('~/assets/images/icons/delivery.svg')" height="50px" class="absolute" />
				</div>
				<p class="font18 txt-white mt20 mb6">1 working days delivery</p>
				<p class="font14 txt-white">free shipping over $20</p>
			</div>
			<div class="col-3 txt-center ph24">
				<div class="w75 h75" style="width: 100px;height: 100px;margin:0 auto;position: relative;border-radius: 50%;border: 1px solid #fff;">
					<img :src="require('~/assets/images/icons/guarantee.svg')" height="50px" class="absolute" />
				</div>
				<p class="font18 txt-white mt20 mb6">100% Moneyback</p>
				<p class="font14 txt-white">Guarantee</p>
			</div>
			<div class="col-3 txt-center ph24">
				<div class="w75 h75" style="width: 100px;height: 100px;margin:0 auto;position: relative;border-radius: 50%;border: 1px solid #fff;">
					<img :src="require('~/assets/images/icons/return.svg')" height="50px" class="absolute" />
				</div>
				<p class="font18 txt-white mt20 mb6">Free 3 Days</p>
				<p class="font14 txt-white">Returns</p>
			</div>
			<div class="col-3 txt-center ph24">
				<div class="w75 h75" style="width: 100px;height: 100px;margin:0 auto;position: relative;border-radius: 50%;border: 1px solid #fff;">
					<img :src="require('~/assets/images/icons/beverage.svg')" height="50px" class="absolute" />
				</div>
				<p class="font18 txt-white mt20 mb6">Drink Inspiration</p>
				<p class="font14 txt-white">Discover your next go-to beverage</p>
			</div>
		</div>
	</div>
</section>