<div class="row">
	<p class="font20 ph12">
		<b>Order History</b>
	</p>
	<table v-if="!isFetching" v-for="(order,orderIndex) in data.orders" :key="(order,orderIndex)"
		style="width: 100%;border: 1px solid #ddd;margin-bottom: 24px;">
		<thead class="bg-secondary">
			<th>Order ID : {{order.id}}</th>
			<th class="txt-right">Discount(%)</th>
			<th class="txt-right">Price($)</th>
			<th class="txt-right">Quantity</th>
			<!-- <th class="txt-right txt-dark-light">Ordered at : {{order.created | moment("MM-DD-YYYY")}}</th> -->
		</thead>
		<thead>
			<tr v-for="(product,productIndex) in order.orderDetail" :key="(product,productIndex)" class="border">
				<td>
					<img :src="getFullPath(product.product.thumbnail)"
						style="width: 72px;height:72px;object-fit: cover;float: left;margin-right: 12px;" />
					<div class="go-left pt10">
						<p class="txt-primary mb6">{{product.product.name}}</p>
						<span>Variant :</span> <span class="txt-dark-light">{{product.variant}}</span>
					</div>
				</td>
				</td>
				<td class="txt-right">
					<span>{{product.product.discount}}%</span>
				</td>
				<td class="txt-right">
					<span>${{formatBalance(product.product.price)}}</span>
				</td>
				<td class="txt-right">
					<span>{{product.quantity}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<p>Ordered At : <span class="txt-dark-light">{{order.created | moment("MMM-DD-YYYY")}}</span></p>
					<span>Status : </span><span v-if="order.orderState == 'PENDING'"
						class="txt-warning">{{order.orderState}}</span>
				</td>
				<td class="txt-right" colspan="3"><span>Total : $1234</span></td>
			</tr>
		</thead>
	</table>
	<Loading v-if="isFetching"></Loading>
</div>