<div class="row">
	<p class="font20">
		<b>Order History</b>
	</p>
	<table v-if="!isFetching" v-for="(order,orderIndex) in data.orders" :key="(order,orderIndex)"
		style="width: 100%;border: 1px solid #ddd;margin-bottom: 24px;">
		<thead class="bg-secondary">
			<th>Order Ref : {{order.ref}}</th>
			<th class="txt-right">Discount(%)</th>
			<th class="txt-right">Price($)</th>
			<th class="txt-right">Quantity</th>
			<!-- <th class="txt-right txt-dark-light">Ordered at : {{order.created | moment("MM-DD-YYYY")}}</th> -->
		</thead>
		<thead>
			<tr v-for="(product,productIndex) in order.orderDetail" :key="(product,productIndex)" class="border">
				<td>
					<img :src="getFullPath(product.product.thumbnail)"
						style="width: 72px;height:72px;object-fit: cover;float: left;margin-right: 12px;" />
					<div class="go-left pt10">
						<p class="txt-primary mb6">{{product.product.name}}</p>
						<span>Variant :</span> <span class="capitalize txt-dark-light">{{formatVariant(product.variant)}}</span>
					</div>
				</td>
				</td>
				<td class="txt-right">
					<span>{{product.product.discount}}%</span>
				</td>
				<td class="txt-right">
					<span>{{formatPrice(product.product.price)}}</span>
				</td>
				<td class="txt-right">
					<span>{{product.quantity}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<p class="font14 mb6">Date : <span
							class="txt-dark-light">{{order.created | moment("MMM-DD-YYYY")}}</span></p>
					<p class="font14 mb6">Status : <span v-if="order.orderState == 'PENDING'"
							class="txt-warning">{{order.orderState}}</span></p>
					<p class="font14 mb6">Address : <span
							class="txt-dark-light">{{order.customerAddress.address}}</span></p>
				</td>
				<td class="txt-right" colspan="3">
					<p class="font14 mb6">Total :
						<span v-if="order.total">{{formatPrice(order.total)}}</span>
						<span v-else>N/A</span>
					</p>
					<p class="font14 mb6">Total Discount :
						<span v-if="order.totalPriceDiscount != null">- {{formatPrice(order.totalPriceDiscount)}}</span>
						<span v-else>N/A</span>
					</p>
					<p class="font14 mb6">Grand Total :
						<span v-if="order.grandTotal">{{formatPrice(order.grandTotal)}}</span>
						<span v-else>N/A</span>
					</p>
				</td>
			</tr>
		</thead>
	</table>
	<Loading v-if="isFetching"></Loading>
</div>