.slider-container{
    width: 100%;
    display: inline-block;
    padding: 0 12px;
    position: relative;
}
.flux-arrow-left{
    width: 42px;
    height:42px;
    border-radius: 50%;
    border: 1px solid var(--white);
    position: absolute;
    top:50%;
    left:36px;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
}
.flux-arrow-left img{
    width:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.flux-arrow-right{
    width: 42px;
    height:42px;
    border-radius: 50%;
    border: 1px solid var(--white);
    position: absolute;
    top:50%;
    right:36px;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
}
.flux-arrow-right img{
    width:20px;
    position:absolute;
    top:50%;
    right:0;
    transform: rotate(180deg) translate(50%, 50%);
}
.flux-arrow-left:hover, .flux-arrow-right:hover{
    background: var(--primary);
}
.flux-title{
    width:530px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: inline-block;
}
.flux-title .title{
    font-size: 60px;
    color: var(--white);
}
.flux-title .btn-flux{
    background: none;
    border: 1px solid var(--white);
    display: initial;
    color: var(--white);
    outline: none;
    padding: 8px 24px;
    cursor: pointer;
}
.flux-title .btn-flux:hover{
    background: var(--primary);
    color: var(--white)
}