.inner-item{
    width: 36px;
    height: 36px;
    padding: 6px 10px;
    border-radius: 50%;
    border: 1px solid #ddd;
    float: left;
    margin-right: 12px;
}
.inner-item i{
    color: #000;
}
.footer-item{
    width: 100%;display:inline-block;font-size: 14px;color: var(--dark-light);
    text-decoration: none;
}
.footer-item:hover{
    color: var(--primary);
}
.f-txt-info{
    font-size: 14px;margin-left: 6px;line-height: 20px;
    color: var(--dark-light);
}
.f-txt-info:hover{
    color: var(--primary);
}