<footer>
	<div class="row bg-secondary">
		<div class="m-container ph12">
			<div class="f-item pr25">
				<p class="f-title">CONTACT US</p>
				<p v-if="MainStore.contact.address">
					<span style="font-weight: bold;">Head Office :</span>
					<span class="ml6 txt-dark-light font14" style="line-height: 20px;"> {{MainStore.contact.address}}</span>
				</p>
				<p v-if="MainStore.contact.phone">
					<span style="font-weight: bold;">Tel :</span>
					<a :href="'tel:'+MainStore.contact.phone" class="f-txt-info">
						{{MainStore.contact.phone}}</a>
				</p>
				<p v-if="MainStore.contact.email">
					<span style="font-weight: bold;">Email :</span>
					<a :href="'mailto:'+MainStore.contact.email" class="f-txt-info">
						{{MainStore.contact.email}}</a>
				</p>
				<p>
					<a v-if="MainStore.contact.telegram" :href="MainStore.contact.telegram" target="_blank"
						class="inner-item">
						<img :src="require('~/assets/images/icons/telegram.png')" style="height: 14px;" />
					</a>
					<a v-if="MainStore.contact.youTube" :href="MainStore.contact.youTube" target="_blank"
						class="inner-item">
						<i class="fa fa-youtube"></i>
					</a>
					<a v-if="MainStore.contact.facebook" :href="MainStore.contact.facebook" target="_blank"
						class="inner-item">
						<i class="fa fa-facebook"></i>
					</a>
					<a v-if="MainStore.contact.instagram" :href="MainStore.contact.instagram" target="_blank"
						class="inner-item">
						<i class="fa fa-instagram"></i>
					</a>
				</p>
			</div>
			<div class="f-item">
				<p class="f-title">CATEGORIES</p>
				<nuxt-link :to="'/search?page=0&categoryId='+category.id" v-for="(category,categoryIndex) in data.categories" :key="(category,categoryIndex)"
					v-if="categoryIndex < 5" class="footer-item">
					{{category.name}}
				</nuxt-link>
			</div>
			<div class="f-item">
				<p class="f-title">BRANDS</p>
				<nuxt-link :to="'/search?page=0&brandId='+brand.id" v-for="(brand,brandIndex) in data.brands" :key="(brand,brandIndex)" v-if="brandIndex < 5"
					class="footer-item">
					{{brand.name}}
				</nuxt-link>
			</div>
			<div class="f-item">
				<p class="f-title">COUNTRIES</p>
				<nuxt-link :to="'/search?page=0&countryId='+country.id" v-for="(country,countryIndex) in data.countries" :key="(country,countryIndex)"
					v-if="countryIndex < 5" class="footer-item">
					{{country.name}}
				</nuxt-link>
			</div>
		</div>

		<div class="row p12 border-top mt24">
			<div class="m-container ph12">
				<span class="f-copyright">Copyright © 2022 Albino Mosaic</span>
				<div class="f-img-payment">
					<img :src="require('~/assets/images/icons/aceleda-icon.png')" class="h26 round3" style="position: relative;left: 48px;" />
					<img :src="require('~/assets/images/icons/payment-method.png')"
					class="h26" />
				</div>
			</div>
		</div>
	</div>
</footer>