a{
    text-decoration: none;
}
.h-container{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid var(--border);
    background: var(--white);
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}
.topbar-inner{
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}
.topbar-inner:last-child{
    border-bottom: none;
}
.inner-item{
    display:inline-block;
    padding: 0 12px 0 6px;
    cursor: pointer;
    position: relative;
}
.inner-item:last-child{
    border-right:none
}
.inner-menu{
    list-style-type: none;
    display: inline-block;
}
.inner-menu .menu-title{
    text-decoration: none;
}
.inner-menu li{
    float: left;
    padding: 12px 20px;
}
.inner-menu li .menu-title{
    font-size: 16px;
    color: var(--text);
    padding: 3px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.inner-menu li .active{
    border-bottom: 1px solid var(--text);
}
.inner-menu li .menu-title:hover{
    border-bottom: 1px solid var(--text);
}
.box-search{
    width: 300px;
    background: #fff;
    position: absolute;
    top: 36px;
    right: 0;
    border: 1px solid #ddd;
    padding: 12px;
    z-index: 999;
    display: none;
}
.box-search input{
    width: 100%;
    font-size: 14px;
    padding: 12px;
    border: 1px solid #ddd;
}
.p-brand{
    width: 320px;background: #fff;position: absolute;top:42px;left: 0;border: 1px solid #ddd;padding: 16px;
    display: none;
}
.menu-dropdown:hover .p-brand{
    display: block;
}
.p-brand:hover{
    display: block;
}
.p-item{
    font-size: 14px;margin-bottom:10px;display: block;
}
.p-item:hover{
    color: var(--primary);
}
.brand-item:hover p{
    color: var(--primary);
}
.tag-num{
    position: absolute;top:-5px;left:20px;font-size: 12px;color: #fff;border-radius: 8px;padding: 1px 4px;min-width: 16px;
    text-align: center;
}
.ul-navbar{
    width:100%;
}
.m-topbar-inner{
    width: 100%;display: none;padding: 0 12px;
}


.show {display: block;}

@media screen and (max-width: 767px) {
    .topbar-inner {
        display: none !important;
    }
    .m-topbar-inner{
        display: block;
    }
    .inner-item{
        padding: 0 6px 0 6px;
    }
}