<header>
	<div class="h-container row">
		<div hidden class="topbar-inner pv10">
			<div class="col-6">
				<div class="inner-item">
					<img :src="require('~/assets/images/icons/telephone.png')" class="h20" />
					<small class="">070212332</small>
				</div>
				<span>|</span>
				<div class="inner-item">
					<img :src="require('~/assets/images/icons/envelope.png')" class="h20" />
					<small class="">cheavanto.it@gmail.com</small>
				</div>
			</div>
			<div class="col-6 txt-right">
				<div class="inner-item">
					<i class="fa fa-twitter"></i>
				</div>
				<div class="inner-item">
					<i class="fa fa-facebook"></i>
				</div>
				<div class="inner-item">
					<i class="fa fa-instagram"></i>
				</div>
			</div>
		</div>
		<div class="topbar-inner ph12" style="display: flex;">
			<div class="col-7 mb0">
				<nuxt-link to="/">
					<img :src="require('@/assets/images/logos/logo.svg')"
					class="h52 go-left mr26 mt4" />
				</nuxt-link>
				<ul class="inner-menu mt6 mb0">
					<li><nuxt-link to="/" class="active menu-title">Home</nuxt-link></li>
					<li class="menu-dropdown" style="position: relative;">
						<nuxt-link to="/search" class="menu-title">Products</nuxt-link>
						<div class="p-brand">
							<div v-for="(brand, brandIndex) in MainStore.productEachBrand" :key="(brand, brandIndex)" class="col-4 p12">
								<p class="txt-ellipsis" style="font-weight: bold;font-size: 16px;" :title="brand.brand.brand">{{brand.brand.brand}}</p>
								<div v-for="(product, productIndex) in brand.product" 
								:key="(product, productIndex)" v-if="productIndex < 5" class="row">
									<nuxt-link :to="'/product/'+product.id" 
									class="p-item txt-dark-light txt-ellipsis">{{product.name}}</nuxt-link>
								</div>
							</div>
						</div>
					</li>
					<li><nuxt-link to="/contact-us" class="menu-title">Contact Us</nuxt-link></li>
				</ul>
			</div>
			<div class="col-5 txt-right pt6 mt10">
				<nuxt-link v-if="MainStore.token" to="/profile" class="inner-item">
					<img :src="require('~/assets/images/icons/user.png')" class="h20" />
				</nuxt-link>
				<div v-if="!MainStore.token" class="inner-item">
					<span @click="switchAuthDialog('login')" class="font14 txt-hover">LOGIN</span>
					<span>/</span>
					<span @click="switchAuthDialog('register')" class="font14 txt-hover">REGISTER</span>
				</div>
				<div class="inner-item">
					<img @click="isBoxSearch = !isBoxSearch" :src="require('~/assets/images/icons/search.png')" class="h20" />
					<div v-if="isBoxSearch" class="box-search">
						<input @keyup.enter="onSearch" v-model="keySearch" type="text" placeholder="Search something ..." />
					</div>
				</div>
				<nuxt-link to="/wishlist" class="inner-item">
					<img :src="require('~/assets/images/icons/heart.png')" class="h20" />
				</nuxt-link>
				<nuxt-link to="/cart" class="inner-item">
					<img :src="require('~/assets/images/icons/shopping-cart.png')" class="h20" />
				</nuxt-link>
			</div>
		</div>
	</div>

	<CartSidebar v-if="isCartSidebar" @clicked="hideCartSidebar"></CartSidebar>
</header>