<header>
	<div class="h-container row">
		<div hidden class="topbar-inner pv10">
			<div class="col-6">
				<div class="inner-item">
					<img :src="require('~/assets/images/icons/telephone.png')" class="h20" />
					<small class="">070212332</small>
				</div>
				<span>|</span>
				<div class="inner-item">
					<img :src="require('~/assets/images/icons/envelope.png')" class="h20" />
					<small class="">cheavanto.it@gmail.com</small>
				</div>
			</div>
			<div class="col-6 txt-right">
				<div class="inner-item">
					<i class="fa fa-twitter"></i>
				</div>
				<div class="inner-item">
					<i class="fa fa-facebook"></i>
				</div>
				<div class="inner-item">
					<i class="fa fa-instagram"></i>
				</div>
			</div>
		</div>
		<div class="topbar-inner p12">
			<div class="col-7 mb0">
				<nuxt-link to="/">
					<img :src="require('@/assets/images/logos/logo.svg')"
					class="h42 go-left mr26" />
				</nuxt-link>
				<ul class="inner-menu mt6 mb0">
					<li><nuxt-link to="/" class="active">Home</nuxt-link></li>
					<li><a>Products</a></li>
					<li><nuxt-link to="/contact-us">Contact Us</nuxt-link></li>
				</ul>
			</div>
			<div class="col-5 txt-right pt6">
				<div v-if="MainStore.token" class="inner-item">
					<nuxt-link to="/profile" class="font14 txt-hover txt-dark">ACCOUNT</nuxt-link>
				</div>
				<div v-if="!MainStore.token" class="inner-item">
					<span @click="switchAuthDialog('login')" class="font14 txt-hover">LOGIN</span>
					<span>/</span>
					<span @click="switchAuthDialog('register')" class="font14 txt-hover">REGISTER</span>
				</div>
				<div class="inner-item">
					<img @click="isBoxSearch = !isBoxSearch" :src="require('~/assets/images/icons/search.png')" class="h20" />
					<div v-if="isBoxSearch" class="box-search">
						<input @keyup.enter="onSearch" v-model="keySearch" type="text" placeholder="Search something ..." />
					</div>
				</div>
				<nuxt-link to="/cart" class="inner-item">
					<img :src="require('~/assets/images/icons/shopping-cart.png')" class="h20" />
				</nuxt-link>
			</div>
		</div>
	</div>

	<CartSidebar v-if="isCartSidebar" @clicked="hideCartSidebar"></CartSidebar>
</header>