.h-scroll{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.item-scroll{
    width: 100px;
    height:100px;
    margin-right: 12px;
    display: inline-block;
    border:1px solid #ddd;
    cursor: pointer;
}
.item-scroll-active{
    width: 100px;
    height:100px;
    margin-right: 12px;
    display: inline-block;
    border:1px solid #ddd;
    cursor: pointer;
    border: 2px solid var(--black);
}
.item-scroll:hover{
    border: 2px solid var(--black);
}

.box-add-to-cart{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 12px;margin-top: 24px;
}
.box-qty{
    width:200px;
    height:51px;
    border: 1px solid var(--black);
    padding: 0 42px;
    position: relative;
}
.ic-plus{
    position: absolute;
    top:50%;
    left:12px;
    transform: translateY(-50%);
}
.ic-minus{
    position: absolute;
    top:50%;
    right:12px;
    transform: translateY(-50%);
}
.input-text{
    width: 100%;
    font-size: 18px;
    text-align: center;
    height: 49px;
    outline: none;
    border: none;
}
.btn-add-to-cart{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: var(--white);
    background: var(--black);
    text-align: center;
    cursor: pointer;
}
.btn-buy-now{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: var(--white);
    background: var(--primary);
    text-align: center;
    cursor: pointer;
}
.item-option-value{
    display:inline-block;
    padding: 6px 12px;
    border:1px solid #ddd;
    margin-right: 12px;
    cursor: pointer;
}
.item-option-value-active{
    background: var(--primary);
    display:inline-block;
    padding: 6px 12px;
    border:1px solid #ddd;
    margin-right: 12px;
    cursor: pointer;
    color: var(--white);
    border: none;
}
.btn-wishlist{
    min-width: 50px;height:50px;border: 1px solid var(--dark);position: relative;cursor: pointer;
}
.btn-wishlist:hover{
    background: var(--primary);
    border: 1px solid var(--primary);
}
.btn-wishlist:hover img{
    filter: brightness(0) invert(1);
}
.btn-wishlist img{
    width: 20px;height:20px;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);
}
.d-name{
    font-size: 46px;
}
@media screen and (max-width: 767px) {
    .d-name{
        font-size: 26px;
    }
}
