.btn-category{
    padding: 12px 24px;
    background: var(--white);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-category:hover{
    background: var(--primary);
    color: var(--white);
}