:root {
    --primary: #c0a483;
    --primary-light: #ddcdba;
    --primary-dark: #b38c5f;

    --secondary: #dadada;
    --secondary-light: #E2E2E2;

    --white: #FFFFFF;
    --white-light: #f6f6f6;
    --white-dark: #EEEEEE;

    --success: #3AA552;
    --success-light: #E9FEE9;

    --danger: #CC2127;
    --danger-light: #F8D7DA;

    --warning: #FFC105;
    --warning-light: #FEF3D6;

    --info: #0C548D;
    --info-light: #D1ECF1;

    --text: #000000;
    --border: #DDDDDD;

    --select: #91D5FF;
    --select-light: #E6F7FF;

    --dark: #111111;
    --dark-light: #767676;

    --light: #f8f9fa;
    --black: #000000;
    --text-dark: #212529;
    --bg-overlay: rgba(0,0,0,.5);
    
    --text-lighten:#6c7293;

    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

*,::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: 'Marcellus', serif;
    margin:0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    overflow-y: auto;
}
h1, h2, h3, h4, h5, h6, p, a, small, span {
    font-family: 'Marcellus', serif;
    line-height: initial;
}
article, aside, figcaption, figure, hgroup, main, nav, section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 16px;
}
p {
    margin-top: 0;
    margin-bottom: 12px;
}
a{
  color: var(--select);
}
progress {
    vertical-align: baseline;
}
img {
    vertical-align: middle;
    border-style: none;
}
table {
    border-collapse: collapse;
}
th {
    text-align: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
button:focus {
    /* outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; */

    outline: none;
}
[role="button"] {
    cursor: pointer;
}
button,
input {
  font-family: 'Poppins';
  overflow: visible;
}

button,
select {
  text-transform: none;
}
select {
  font-family: 'Poppins', sans-serif;
    word-wrap: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
[hidden] {
    display: none !important;
}
pre{
  background:var(--secondary);
  padding: 12px;
  margin: 0;
}
*,::after, ::before {
    box-sizing: border-box;
}

.m-scroll::-webkit-scrollbar-thumb {
    background: var(--secondary-light);
    height: 4px;
    border-radius: 10px;
}
.m-scroll::-webkit-scrollbar-thumb:horizontal{
    background: var(--secondary-light);
    border-radius: 10px;
}
.m-scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}
button, input, select, option, textarea{
    font-family: 'Poppins', sans-serif;
}
.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row{
    width: 100%;
    display: inline-block;
    position: relative;
}
.overlow{
    position: relative;
    border-radius: 4px;
    
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.pointer{
    cursor:pointer;
}
.disable{
    cursor: not-allowed;
}
/* widget */
.group-list-item{
    width: 100%;
    display: block;
    position: relative;
    border-bottom: 1px solid var(--bg-secondary);
    padding: 12px 0 12px 62px;
}
.group-list-item:last-child{
    border-bottom: none !important;
}
.group-list-item .item-cover{
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    margin-top: 12px;
}
.group-list-item .item-cover img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.group-list-item .item-info{
    width: 100%;
    display: block;
    position: relative;
}

.item-info .item-title{
    font-weight: 600;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
}
.item-title .item-preview{
    font-weight:300;
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}
.item-info .item-preview{
    font-weight:300;
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}

.item-info .item-desc{
    width: 100%;
    display: inline-block;
    position: relative;
    color: var(--gray-light);
}
.item-info .item-desc i{
    margin-right: 4px;
}
/* end widget */


.wrapper-container{
  width:100%;
  min-height:100vh;
  position:relative;
  padding: 60px 5px 5px 245px;
}
.table-control{
  width: 100%;
  display: block;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}
.fw200{
    font-weight: 200;
}
.fw300{
  font-weight: 300;
}
.fw400{
  font-weight: 400;
}
.fw500{
    font-weight: 500;
}
.fw600{
  font-weight: 600;
}

.rounded{
  border-radius: 50%;
}
.round2{
    border-radius: 2px;
}
.round3{
    border-radius: 3px;
}
.round4{
    border-radius: 4px;
}
.round5{
    border-radius: 5px;
}
.round6{
    border-radius: 6px;
}
.round7{
    border-radius: 7px;
}
.round8{
    border-radius: 8px;
}
.round9{
    border-radius: 9px;
}
.round10{
    border-radius: 10px;
}
.img-cover{
    object-fit: cover;
}
.row-hover:hover{
    background: var(--secondary);
    border-radius: 4px;
}
.cursor-pointer{
    cursor: pointer;
}
/* .chartjs-render-monitor {
    height: 350px !important;
} */

.limit-2-line{
    word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   max-height: 32px; /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.txt-hover:hover{
    color: var(--primary);
}
.box-square{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #fff;
    position: relative;
}
.item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.border{
    border: 1px solid var(--secondary);
}
.border-top{
    border-top: 1px solid var(--secondary);
}
.border-bottom{
    border-bottom: 1px solid var(--secondary);
}
.btn-default{
    padding: 12px;
    color: var(--white);
    background: var(--dark);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.btn-default:hover{
    background: var(--primary);
}
.capitalize{
    text-transform: capitalize;
}