.tag-num{
    color:#999;
    border-radius:20px;
    background: #eaeaea;
    padding: 2px 8px;
    float: right;
    font-size: 12px;
}
.img-bg-search{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.search-bg-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,.5);
}
.box-search-info{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.search-title{
    color: var(--white);
    font-size: 76px;
}
.search-input{
    padding: 12px;
    font-size: 16px;
    border:1px solid var(--secondary);
    width: 420px;
}

.item-tag{
    background: var(--white);
    border: 1px solid #ddd;
    padding: 8px 16px;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.item-tag-active{
    color: var(--white);
    background: var(--primary);
    border: 1px solid var(--secondary);
    padding: 8px 16px;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.item-tag:hover{
    color: var(--white);
    background: var(--primary);
}
.border{
    border: 1px solid var(--secondary)
}
.sm-show{
    display: none;
}

@media screen and (max-width: 767px) {
    .search-title{
        font-size: 32px;
    }
    .search-input{
        max-width: 80%;
        padding: 10px;
    }
    .img-bg-search{
        height: 200px;
    }
    .sm-show{
        display: block;
    }
    .m-filter-sidebar{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.5);
        position: fixed;
        top:0;
        left:0;;
        display: block;
        z-index: 99;
    }
    .m-block-filter{
        width: 300px;
        height: 100vh;
        background: #fff;
        position: fixed;
        top:0;
        left: 0;
        overflow-y: auto;
    }
}