table th {
    padding: 12px;
}
table tr td {
    padding: 12px;
}
.btn-checkout:hover{
    background: var(--primary);
}
.tab-menu{
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.tab-menu-active{
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: #c0a483;
    color:#fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.tab-menu-active img{
    filter: brightness(0) invert(1);
}