table th {
    padding: 12px;
}
table tr td {
    padding: 12px;
}
.btn-checkout:hover{
    background: var(--primary);
}
.tab-menu{
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.tab-menu-active{
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: #c0a483;
    color:#fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.tab-menu-active img{
    filter: brightness(0) invert(1);
}
.m-tab{
    width: 100%;
    padding: 0 24px 12px 24px;
    display: none;
}
.m-tab-menu{
    width: 25%;
    border: 1px solid var(--secondary);
    text-align: center;
    padding: 6px;
    float: left;
}
.m-tab-menu-active{
    width: 25%;
    border: 1px solid var(--secondary);
    text-align: center;
    padding: 6px;
    background: var(--primary);
    color: var(--white);
    float: left;
}
@media screen and (max-width: 767px) {
    .m-tab{
        display: inline-block;
    }
}