<section>
	<div class="m-container">
		<div class="row p50">
			<div class="col-3">
				<table class="row border">
					<tr @click="tabActive = 'profile'" :class="tabActive == 'profile' ? 'tab-menu-active' : 'tab-menu'">
						<td>
							<img :src="require('~/assets/images/icons/account.png')" class="h20 go-left mr12" />
							<span class="go-left">MY PROFILE</span>
						</td>
					</tr>
					<tr @click="tabActive = 'order'" :class="tabActive == 'order' ? 'tab-menu-active' : 'tab-menu'">
						<td>
							<img :src="require('~/assets/images/icons/shopping-bag.png')" class="h20 go-left mr12" />
							<span class="go-left">MY ORDER</span>
						</td>
					</tr>
					<tr @click="tabActive = 'wishlist'" :class="tabActive == 'wishlist' ? 'tab-menu-active' : 'tab-menu'">
						<td>
							<img :src="require('~/assets/images/icons/heart.png')" class="h20 go-left mr12" />
							<span class="go-left">MY WISHLIST</span>
						</td>
					</tr>
					<tr @click="tabActive = 'address'" :class="tabActive == 'address' ? 'tab-menu-active' : 'tab-menu'">
						<td>
							<img :src="require('~/assets/images/icons/location.png')" class="h20 go-left mr12" />
							<span class="go-left">MY ADDRESS</span>
						</td>
					</tr>
					<tr @click="showLogoutDialog = true" class="tab-menu">
						<td>
							<img :src="require('~/assets/images/icons/logout.png')" class="h20 go-left mr12" />
							<span class="go-left">LOGOUT</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-9 pl50">
				<div v-if="isAuthenticated" class="row">
					<div v-if="tabActive == 'profile'" class="row">
						<ProfileInfo></ProfileInfo>
					</div>

					<div v-if="tabActive == 'order'" class="row">
						<OrderHistory></OrderHistory>
					</div>

					<div v-if="tabActive == 'wishlist'" class="row">
						<Wishlist></Wishlist>
					</div>

					<div v-if="tabActive == 'address'" class="row">
						<Address></Address>
					</div>
				</div>
				<Unauthorize v-else></Unauthorize>
			</div>
		</div>
	</div>

	<div v-if="showLogoutDialog" class="auth-container">
		<div @click="showLogoutDialog = false" class="auth-bg"></div>
		<div class="block-auth">
			<div class="row">
				<span class="font24">Log out</span>
			</div>
			<div class="row mt24">
				<p class="txt-dark-light">Are you sure you want to log out?</p>
				<div @click="onLogout" class="btn-default mt24 go-right ph50">Logout</div>
			</div>
		</div>
	</div>
</section>