<div>
	<Loading v-if="isFetching"></Loading>
	<div v-if="!isFetching" class="row">
		<div class="m-container">
			<agile :autoplay="true">
				<div v-for="(slide,slideIndex) in slide.vfImages" :key="(slide,slideIndex)" class="slide">
					<img :src="slide" class="slide-img" />
				</div>
			</agile>
			<!-- <Slider v-if="slide.vfImages.length > 0" :vfOptions="slide.vfOptions" :vfImages="slide.vfImages"
				:vfTransitions="slide.vfTransitions" :vfCaptions="slide.vfCaptions"></Slider> -->
			<Category :categories="data.categories"></Category>
		</div>
		<FeaturedProduct v-if="data.home" :products="data.home.products"></FeaturedProduct>
		<agile :autoplay="true">
			<section v-for="(discount, discountIndex) in data.home.discount" :key="(discount, discountIndex)" class="row pt42">
				<div class="box-explore">
					<img :src="getFullPath(discount.thumbnail)" class="img-cover" />
					<div class="explore-info">
						<p class="font30">
							<span>{{discount.title}}</span>
						</p>
						<p v-if="discount.subTitle" class="font12">{{discount.subTitle}}</p>
						<nuxt-link :to="'/discount/'+discount.id">
							<div class="btn-explore pointer">EXPLORE NOW</div>
						</nuxt-link>
					</div>
				</div>
			</section>
		</agile>
		
		<div class="m-container">
			<TopSeller :products="data.home.topSell"></TopSeller>
		</div>
		<Populated></Populated>
		<div class="m-container">
			<Brand v-if="data.home" :brands="data.home.brands"></Brand>
		</div>
	</div>
</div>