<section class="row mt50 pv50" style="background: #f2f6f2;">
	<p class="font24 txt-center">FEATURED <span class="txt-primary">PRODUCTS</span></p>
	<div class="row mt12">
		<div v-for="(product, productIndex) in products" :key="(product, productIndex)" class="col-3 p12">
			<nuxt-link :to="'/product/'+product.id">
				<div class="box-square">
					<img :src="getFullPath(product.thumbnail)" 
					class="item-img" />
					<div v-if="product.discount > 0" class="tag-discount">-{{product.discount}}%</div>
					<div v-if="product.brand" class="tag-type">{{product.brand.name}}</div>
				</div>
				<div class="row txt-center mt12">
					<p class="txt-dark mb6">{{product.name}}</p>
					<p v-if="product.discount == 0" class="txt-primary font16">${{product.price}}</p>
					<p v-else class="font16"><del class="txt-dark-light mr6">${{product.price}}</del> <span class="txt-primary">${{getDiscount(product.price,product.discount)}}</span></p>
				</div>
			</nuxt-link>
		</div>
	</div>
</section>