.topbar-inner{
    width: 100%;
    border-bottom: 1px solid var(--border);
    display: list-item;
}
.topbar-inner:last-child{
    border-bottom: none;
}
.inner-item{
    display:inline-block;
    padding: 0 12px 0 6px;
    cursor: pointer;
}
.inner-item:last-child{
    border-right:none
}
.inner-menu{
    list-style-type: none;
    display: inline-block;
}
.inner-menu li{
    float: left;
    padding: 0 20px;
}
.inner-menu li a{
    font-size: 16px;
    color: var(--text);
    padding: 3px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.inner-menu li .active{
    border-bottom: 1px solid var(--text);
}
.inner-menu li a:hover{
    border-bottom: 1px solid var(--text);
}

/* sidebar */
.sidebar-container{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
}
.sidebar-overlay{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left: 0;
}
.box-sidebar{
    width:350px;
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    background:var(--white);
    overflow-y:auto;
}
.product-item{
    width:100%;
    display:inline-block;
    padding-left:72px;
    border-bottom:1px solid var(--secondary);
    position:relative;
}
.item-thumb{
    width:60px;
    height:60px;
    object-fit:cover;
    position:absolute;
    top:12px;
    left:12px;
}
.btn-checkout{
    width:100%;
    padding:10px;
    color: var(--white);
    text-align:center;
    cursor:pointer;
}
.btn-view-cart{
    width:100%;
    padding:10px;
    text-align:center;
    cursor:pointer;
}
a{
    text-decoration: none;
}