<div class="row">
	<div v-for="(product,productIndex) in products" :key="(product.name)" class="col-3 col-sm-6 p6">
		<div class="row border">
			<div class="p-item-hover box-square">
				<nuxt-link :to="'/product/'+product.product.id">
					<img :src="imageError ? require('~/assets/images/image-default.jpeg') : getFullPath(product.product.thumbnail)"  
					@error="imageError = true"
					class="item-img" />
					<div v-if="product.product.discount > 0" class="tag-discount">-{{product.product.discount}}%</div>
					<div v-if="product.product.brand" class="tag-type">{{product.product.brand.name}}</div>
				</nuxt-link>
				<div class="hover-btn-cart">
					<nuxt-link :to="'/product/'+product.product.id" class="btn-cart-item mr3">
						<img :src="require('~/assets/images/icons/detail.png')"/>
					</nuxt-link>
					<div v-show="isWishlist(product.product.id)" @click="removeProductFromWishlist(productIndex)"
						class="btn-cart-item">
						<img :src="require('~/assets/images/icons/heart-active.png')" />
					</div>
					<div v-show="!isWishlist(product.product.id)" @click="addToWishlist(productIndex)"
						class="btn-cart-item">
						<img :src="require('~/assets/images/icons/heart.png')" />
					</div>
				</div>
			</div>
			<div class="row txt-center mt12">
				<nuxt-link :to="'/product/'+product.product.id">
					<p class="p-name txt-ellipsis ph6" :title="product.name"><span hidden>{{product.product.isWishlist}}</span> {{product.product.name}}</p>
					<p v-if="product.product.discount == 0" class="p-discount font16">${{product.product.price.toFixed(2)}}</p>
					<p v-else class="font16">
						<del v-if="product.product.price" class="p-price mr6">${{product.product.price.toFixed(2)}}</del>
						<span class="p-discount">${{getDiscount(product.product.price,product.product.discount)}}</span>
					</p>
				</nuxt-link>
			</div>
		</div>
	</div>
</div>