<div class="row">
	<div v-for="(product,productIndex) in products" :key="(product,productIndex)" class="col-3 p12">
		<div class="row border">
				<div class="p-item-hover box-square">
					<nuxt-link :to="'/product/'+product.id">
						<img :src="getFullPath(product.thumbnail)"  
						class="item-img" />
						<div v-if="product.discount > 0" class="tag-discount">-{{product.discount}}%</div>
						<div class="tag-type">{{product.brand.name}}</div>
					</nuxt-link>
					<div class="hover-btn-cart">
						<div class="btn-cart-item mr3">
							<img :src="require('~/assets/images/icons/detail.png')"/>
						</div>
						<div @click="addToWishlist(product)" class="btn-cart-item">
							<img :src="require('~/assets/images/icons/heart.png')"/>
						</div>
					</div>
				</div>
				<div class="row txt-center mt12">
					<nuxt-link :to="'/product/'+product.id">
						<p class="txt-ellipsis txt-dark mb6 ph12" :title="product.name">{{product.name}}</p>
						<p v-if="product.discount == 0" class="txt-primary font16">${{product.price.toFixed(2)}}</p>
						<p v-else class="font16">
							<del v-if="product.price" class="txt-dark-light mr6">${{product.price.toFixed(2)}}</del>
							<span class="txt-primary">${{getDiscount(product.price,product.discount)}}</span>
						</p>
					</nuxt-link>
				</div>
		</div>
	</div>
</div>