<div class="row">
	<div v-for="(product,productIndex) in products" :key="(product,productIndex)" class="col-4 p12">
		<div class="row border">
			<nuxt-link :to="'/product/'+product.id">
				<div class="box-square">
					<img :src="getFullPath(product.thumbnail)"  
					class="item-img" />
					<div v-if="product.discount > 0" class="tag-discount">-{{product.discount}}%</div>
					<div class="tag-type">{{product.brand.name}}</div>
				</div>
				<div class="row txt-center mt12">
					<p class="txt-ellipsis txt-dark mb6 ph12" :title="product.name">{{product.name}}</p>
					<p v-if="product.discount == 0" class="txt-primary font16">${{product.price.toFixed(2)}}</p>
					<p v-else class="font16">
						<del v-if="product.price" class="txt-dark-light mr6">${{product.price.toFixed(2)}}</del>
						<span class="txt-primary">${{getDiscount(product.price,product.discount)}}</span>
					</p>
				</div>
			</nuxt-link>
		</div>
	</div>
</div>