.btn-checkout{
    padding: 12px 24px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
table th {
    padding: 12px;
}
table tr td {
    padding: 12px;
}
.table-address{
    width: 100%;border: 1px solid #ddd;margin-bottom: 24px;
}
.m-table-address{
    width: 100%;
    display: none;
}
@media screen and (max-width: 767px) {
    .table-address{
        display: none;
    }
    .m-table-address{
        display: inline-block
    }
}