<div class="row">
	<p class="font20">
		<b>My Address</b>
		<span @click="showCreateDialog = true" class="go-right txt-primary font16 pointer">Create Address</span>
	</p>
	<div class="row">
		<table class="table-address">
			<thead class="bg-secondary">
				<th>Name</th>
				<th>Phone</th>
				<th>Country</th>
				<th>Province</th>
				<th>Address</th>
				<th class="txt-center">Action</th>
			</thead>
			<tbody>
				<tr v-for="(address,addressIndex) in data.addresses" :key="(address,addressIndex)">
					<td>{{address.fullName}}</td>
					<td>{{address.phone}}</td>
					<td>{{address.countryAddress ? address.countryAddress.name : 'N/A'}}</td>
					<td>{{address.province.province}}</td>
					<td>{{address.address}}</td>
					<td @click="showConfirmRemoveDialog(addressIndex)" class="txt-center"><i class="fa fa-times-circle pointer"></i></td>
				</tr>
			</tbody>
		</table>
		<div class="m-table-address">
			<div v-for="(address,addressIndex) in data.addresses" :key="(address,addressIndex)" class="row p6 border mt-1" style="padding-right: 50px;">
				<p class="font14 mb3">{{address.fullName}}</p>
				<p class="font12 mb3"><span>Tel</span> : <span class="txt-dark-light">{{address.phone}}</span></p>
				<p class="font12 mb3"><span v-if="address.countryAddress" class="txt-dark-light">{{address.countryAddress.name}}, </span><span class="txt-dark-light">{{address.province.province}}</span></p>
				<p class="font12 mb3"><span>Address</span> : <span class="txt-dark-light">{{address.address}}</span></p>
				<div @click="showConfirmRemoveDialog(addressIndex)" style="width: 50px;height: 100%;position: absolute;top:0;right:0">
					<i class="fa fa-times-circle pointer" style="position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);"></i>
				</div>
			</div>
		</div>
		<div v-if="!isFetching && data.addresses.length == 0" class="row pv50 txt-center">
			No Data
		</div>
		<Loading v-if="isFetching"></Loading>
	</div>

	<div v-if="showCreateDialog" class="auth-container">
		<div @click="showCreateDialog = false" class="auth-bg"></div>
		<div class="block-auth">
			<div class="row ph12">
				<span class="font24">Create Address</span>
			</div>
			<div class="row mv24">
				<div class="row mb6">
					<div class="col-6 ph12">
						<p class="mb6">First name <span class="txt-danger">*</span></p>
						<input v-model="body.firstname" type="text" :class="isSubmitted && !body.firstname ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmitted && !body.firstname" class="msg-error">First name is required.</p>
					</div>
					<div class="col-6 ph12">
						<p class="mb6">Last name <span class="txt-danger">*</span></p>
						<input v-model="body.lastname" type="text" :class="isSubmitted && !body.lastname ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmitted && !body.lastname" class="msg-error">Last name is required.</p>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Phone <span class="txt-danger">*</span></p>
						<input v-model="body.phone" type="text" :class="isSubmitted && !body.phone ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmitted && !body.phone" class="msg-error">Phone is required.</p>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Email <span class="txt-danger">*</span></p>
						<input v-model="body.email" type="text" :class="isSubmitted && !body.email ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmitted && !body.email" class="msg-error">Email is required.</p>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Country <span class="txt-danger">*</span></p>
						<select @change="chooseCountry" v-model="body.countryId" class="w-input">
							<option v-for="(country, countryIndex) in data.countries" 
								:key="(country, countryIndex)"
								:value="country.id">{{country.name}}</option>
						</select>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">City/Province <span class="txt-danger">*</span></p>
						<select v-model="body.provinceId" class="w-input">
							<option v-for="(province, provinceIndex) in data.provinces" 
								:key="(province, provinceIndex)"
								:value="province.id">{{province.province}}</option>
						</select>
					</div>
				</div>
				<div class="row mb6">
					<div class="col-12 ph12">
						<p class="mb6">Address <span class="txt-danger">*</span></p>
						<input v-model="body.address" type="text" :class="isSubmitted && !body.address ? 'w-input-error' : 'w-input'" />
						<p v-if="isSubmitted && !body.address" class="msg-error">Address is required.</p>
					</div>
				</div>
				<div class="col-12 ph12">
					<div v-if="!isCreating" @click="createAddress" class="btn-default mt24">SUBMIT</div>
					<div v-else class="btn-default mt24">LOADING...</div>
				</div>
			</div>
		</div>
	</div>

	<div v-if="showRemoveDialog" class="auth-container">
		<div @click="showRemoveDialog = false" class="auth-bg"></div>
		<div class="block-auth">
			<div class="row ph12">
				<span class="font24">Confirmation</span>
			</div>
			<div class="row mt24">
				<div class="col-12 ph12">
					Are you sure want to remove this address?
				</div>
				<div class="col-12 pt12">
					<div v-if="!isRemoving" @click="removeAddress" class="btn-default mt24 go-right ph24">REMOVE</div>
					<div v-else class="btn-default mt24 go-right ph24">LOADING...</div>
				</div>
			</div>
		</div>
	</div>
</div>