<div v-if="MainStore.showLoginDialog == 'forgot_password'" class="auth-container">
	<div @click="switchAuthDialog('')" class="auth-bg"></div>
	<div class="block-auth">
		<div class="row">
			<span class="font24">Forgot Password</span>
			<span @click="switchAuthDialog('login')" class="font16 go-right txt-primary pointer">Back to Sign In</span>
		</div>
		<div class="row mv24">
			<div v-if="isSubmitted && errorMessage" class="message-error">
				<p class="mb0"><b>ERROR: </b><span class="txt-dark-light">{{errorMessage}}</span></p>
			</div>
			<div v-if="infoMessage" class="row">
				<div class="message-info">
					<p class="go-left">
						<b class="txt-info mb12">{{infoMessage}}</b>
					</p>
				</div>
				<div class="row">
					<div @click="switchAuthDialog('')" class="btn-default">DISMISS</div>
				</div>
			</div>
			
			<div v-if="!infoMessage" class="row">
				<div class="row">
					<p class="txt-dark-light">Email <span class="txt-danger">*</span></p>
					<input v-model="body.email" type="text" placeholder="Your email" :class="isSubmitted && !body.email ? 'w-input-error' : 'w-input'" />
					<p v-if="isSubmitted && !body.email" class="msg-error">Email is required!</p>
				</div>
				<div v-if="!isLogging" @click="forgotPassword" class="btn-default mt24">SEND</div>
				<div v-else class="btn-default mt24">LOADING...</div>
			</div>
		</div>
	</div>
</div>